{% extends 'base.html'%}

{% block content %}

<div class="main">
    <div class="row main-row">
        <div class="col-6 col-main">
            <div class="row row-cards">
                <div class="col-18 col-card">
                    <div class="col-card__content">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Packman</h5>
                                    <h5 class="card-title">Description</h5>
                                    <p class="card-text">
                                        Description_TextDescription_TextDescription_TextDescription_TextDescription_Text
                                    </p>
                                    <h5 class="card-title">Released</h5>
                                    <p class="card-text">Nov 1995</p>
                                    <h5 class="card-title">Screenshots</h5>
                                    <div class="row row-cards">
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            <img class="img-thumbnail" width="204" height="206"
                                                src="https://placeimg.com/100/50/any" alt="Card image cap">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 col-rating">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Rating</h5>

                        <h5 class="card-title">Genres</h5>

                        <h5 class="card-title">Platforms</h5>

                </div>
            </div>
        </div>
        <div class="col-2 col-twitter">
            <h2 class="card-title">Twitter</h5>
        </div>
    </div>
</div>

<hr class="tg-hr">
<footer class="tg-footer">
    <a class='tg-link' href='http://timguignard.com' target='_blank'>timguignard.com</a>
    <a class='tg-link' href='https://twitter.com/timguignard' target='_blank'>Twitter</a>
    <a class='tg-link' href='https://dribbble.com/timguignard' target='_blank'>Dribbble</a>
    <a class='tg-link' href='https://www.behance.net/timguignard' target='_blank'>Behance</a>
</footer>
{% endblock %}