{% extends 'base.html'%}

{% block content %}

<section class="py-20 bg-light overflow-hidden">

    <div class="container">
        <h2 class="mb-16 mb-md-24">Game nerd</h2>
        <div class="d-flex mb-20">
            <div class="flex-shrink-0 w-100">
                <div class="row">
                    
                    <div class="col-12 col-lg-6 mb-20">
                        
                        <div class="position-relative">
                            <a class="btn position-absolute top-0 mt-80 end-0 m-5 px-8 py-2 bg-white rounded-2 text-muted"
                                href="#" style="z-index: 10;">Summer</a>
                            <a class="position-relative d-block link-dark text-decoration-none" href="#">
                                <div class="position-relative" style="height: 384px;">
                                    <img class="img-fluid w-100 h-100" style="object-fit: cover;"
                                        src="yofte-assets/images/placeholder-surfboard-stands.png" alt="">
                                </div>
                                <div class="position-relative mt-12">
                                    <div class="position-absolute top-0 bg-info ps-1" style="height:176px;"></div>
                                    <div class="px-12">
                                        <h3 class="mb-8">After curabitur eu laoreet libero eget en vel odio ultricies!
                                        </h3>
                                        <span class="h6 text-info text-uppercase">15 MAY 2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-20">
                        <div class="position-relative">
                            <a class="btn position-absolute top-0 mt-80 end-0 m-5 px-8 py-2 bg-white rounded-2 text-muted"
                                href="#" style="z-index: 10;">Summer</a>
                            <a class="position-relative d-block link-dark text-decoration-none" href="#">
                                <div class="position-relative" style="height: 384px;">
                                    <img class="img-fluid w-100 h-100" style="object-fit: cover;"
                                        src="yofte-assets/images/placeholder-girl.png" alt="">
                                </div>
                                <div class="position-relative mt-12">
                                    <div class="position-absolute top-0 bg-info ps-1" style="height:176px;"></div>
                                    <div class="px-12">
                                        <h3 class="mb-8">Next year: one ultricies condimentum phare</h3>
                                        <span class="h6 text-info text-uppercase">14 MAY 2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="position-relative me-4 bg-secondary-light col-7 col-md-9" style="height: 4px;">
                            <div class="position-absolute top-0 bottom-0 start-0 bg-primary col-3"></div>
                        </div>
                        <div class="ms-auto col-md-2 d-flex align-items-center justify-content-end">
                            <a class="me-5 d-flex align-items-center justify-content-center bg-primary rounded-3"
                                style="width: 48px; height: 48px;" href="#">
                                <svg width="8" height="12" viewbox="0 0 8 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z"
                                        fill="white"></path>
                                </svg>
                            </a>
                            <a class="d-flex align-items-center justify-content-center bg-info rounded-3"
                                style="width: 48px; height: 48px;" href="#">
                                <svg width="8" height="12" viewbox="0 0 8 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z"
                                        fill="white"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="btn btn-primary" href="#">Created by Ivan</a></div>
    </div>
</section>
{% endblock %}