{% extends 'base.html'%}

{% block content %}

<section class="py-20 bg-light overflow-hidden">
    <div class="container">
        <h2 class="mb-16 mb-md-24">Game nerd</h2>
        <div class="d-flex mb-20">
            <div class="flex-shrink-0 w-100">
                <div class="row">
                    <div class="row main-row">
                        <div class="col-2 col-menu">
                            <div id="btn-toggle" class="btn btn-primary" onclick="showStuff()">Show / Hide Filters</div>
                            <div class="menu-wrap" id="my">
                                <div class="menu">
                                    <h6 class="filter-title">Filters</h6>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <div class="form-control">Filter 1</div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <div class="form-control">Filter 2</div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <div class="form-control">Filter 3</div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <div class="form-control">(Those filters don't work, it's just a pretext to have
                                            a credible interface)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for game in games %}
                        <div class="col-4 col-games">
                            <div class="position-relative">
                                <div class="position-relative" style="height: 384px;">
                                    <img class="img-fluid w-100 h-100" style="object-fit: cover;"
                                        src="https://placeimg.com/100/100/any" alt="">
                                </div>
                                <div class="px-12">
                                    <a href="{% url 'games:detail' game.id %}">
                                        <h3 class="mb-8">
                                            {{ game.name }}
                                        </h3>
                                    </a>
                                    <span class="h6 text-info text-uppercase">{{game.slug}}</span>
                                </div>
                                {% if request.user.is_authenticated %}
                                {% load custom_filter %}
                                {% if game.likes|my_filter:request.user.id %}
                                <div class="position-relative mt-1">
                                    <a class="likebutton btn btn-success btn-lg" id="like{{ game.id }}" href="#"
                                        data-catid="{{ game.id }}">UnLike</a>
                                    <p id="message{{game.id}}"></p>
                                </div>
                                {% else %}
                                <div class="position-relative mt-1">
                                    <a class="likebutton btn btn-primary btn-lg" id="like{{ game.id }}" href="#"
                                        data-catid="{{ game.id }}">Like</a>
                                    <p id="message{{game.id}}"> </p>
                                </div>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'account_login' %}" class="">
                                    Go and register</a>
                                    {% endif %}    
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
                </nav>
            </div>
        </div>
    </div>
    </div>
</section>

<script type="text/javascript">
    function showStuff() {
        let x = document.getElementById('my');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    $('.likebutton').click(function() {
      var id;
      id = $(this).attr("data-catid");
      $.ajax({
          type: "GET",
          url: "{% url 'games:like'%}",
          data: {
            game_id: id,
          },
          success: function(data) {
            if (data == 'success') {
                if ($('#like' + id).hasClass('btn btn-primary btn-lg')) {
                    $('#like' + id).removeClass();
                    $('#like' + id).addClass('btn btn-success btn-lg');
                    $('#like' + id).text('Unlike');
                } else {
                    $('#like' + id).removeClass();
                    $('#like' + id).addClass('btn btn-primary btn-lg');
                    $('#like' + id).text('Unlike');
                }
              console.log(data);
            } else {
              $('#like' + id).removeClass();
              $('#like' + id).addClass('btn btn-primary btn-lg');
              $('#like' + id).text('Like');
              console.log(data);
            }
          }
        },
      )
    });
</script>
{% endblock %}